<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->

<div id="landingPage">
    <div id="header">
        <div id="headerText">
            <h1>HOMELETTE</h1>
            <p>From the best chefs in the world directly into your kitchen</p>
        </div>
    </div>
    <div class="container">
        <div id="exampleView">
            <h2>A Home Dinner Service</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus ut libero id semper. Phasellus laoreet dignissim magna sed vehicula. Sed venenatis eros massa, in ultricies metus mattis in. Curabitur dignissim mi sem, non imperdiet felis cursus at.</p>

            <br>
            <p>Start quickly</p>
            <a href="#/search" class="btn btn-primary">Create new dinner</a>
        </div>
    </div>
</div>
