#landingPage {
	background: url("../images/home.png") no-repeat center center fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	height: 100vh;
}

#landingPage #header {
	background: rgba(250, 221, 138, 0.7);
	border: 4px solid black;
	width:100vw;
	height:17vh;

	font-weight: bold;
}

#landingPage #headerText {
	padding-top: 6vh;
}

#landingPage #headerText h1, #headerText p {
	display: inline;
	padding-left: 15px;
}

#landingPage #headerText h1 {
	font-size: 40px;
	font-style: bold;
}

#landingPage #headerText p {
	font-size: 18px;
	font-style: italic;
}


#landingPage .container {
	margin: 0;
	margin-left: 0;
	padding: 0;
	padding-left: 0;
	width: 100vw;
}

#landingPage #exampleView {
	width: 45vw;
	background: rgba(255, 255, 255, 0.7);
	padding: 20px;

	position: relative;
	top: 30vh;
	margin: 0;
}

#landingPage #newDinnerButton {
	background: rgba(246, 178, 107, 1);
	border: 3px solid black;
	font-size: 18px;
	font-weight: bold;
}

#landingPage hr {
	height: 2px;
	background-color: black;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	align-items: stretch;
	flex-direction: column;
}


#left input {
	max-width: 50px;
	margin-bottom: 5px;
}

button {
	background: rgba(246,178,107,1);
}

hr {
	background-color: black;
	height: 1px;
}

#headline {
	padding-left: 5%;
	background-color: lightgrey;
	padding-bottom: 40px;
	padding-top: 40px;
	border-bottom: 1px solid black;
	display: block;
}

#headline h1, #headline p {
	display: inline;
	padding-left: 15px;
}


#selectDishView {
	flex: 1;
	display: flex; /* flex */
	align-items: stretch;
	flex-direction: row;
}

#left {
	border-right: 1px solid;
	width: 250px;
	height: 100vh;
}

#left hr {
	margin-left: 10%;
	margin-right: 10%;

}

#left button {
	margin: 0 auto;
	width: 80%;
}

#left-headline {
	padding-left: 10%;
}

/*Always show arrows in number input field */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

#dinner-table {
	width: 100%;
	text-align: center;
}

#dinner-table p {
	float: right;
	position: relative;
	right: 10%;
}

table {
	width: 100%;
}

#table-header {
	background-color: lightgrey;
	border-bottom: 1px solid black;
	border-top: 1px solid;
}

td {
	background-color: white;
	text-align: left;
}

.number-column {
	position: relative;
	left: 1%;
}

.dish-column {
	position: relative;
	left: 10%;
}

.cost-column {
	position: relative;
	text-align: right;
	right: 10%;
}

#mid {
	flex: 1;
	border-top: 1px solid;

	display: flex;
	align-items: stretch;
	flex-direction: column;
}

/*
*
*
* SELECT DISH VIEW
*
*
*/
#loading {
	position:fixed;
	height:300px;
	width:300px;
	left: 50%;
	top: 40%;

	background-color: grey;
	display:none;
}

#mid-upper {
	height: 20%;
	border-bottom: 1px solid black;
	background-color: rgb(255,229,153);
	padding-left: 5%;
	padding-right: 5%;
}

#mid-upper select {
	min-width: 200px;
	margin-left: 10%;
}

#mid-upper input {
	min-width: 200px;
	margin-bottom: 20px;
	margin-right: 10;
}


#mid-lower {
	flex: 1;
	padding-top: 20px;
	overflow-y: scroll;
}

/*
*	Setting dish width and height secures the bootstrap to be a nice grid.
*/

.dish-header img {
	width: 140px;
}

.dish {
	width: 150px;
	height:300px;
}

.col-sm-15 {
	width: 20%;
	float: left;
}

.dish-header {
	padding:1px;
	border: 1px solid;
	width: 144px;
	background-color: lightgrey;

}

.dish-header p {
	border-top: 1px solid;
}

.dish-description {
	height: 80px;
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
}


/*
*
* SPECIFIC DISH VIEW
*
*/

#dish-mid {
	width:100%;
	display: block;
}

#mid-left {
	width:50%;
	padding-left: 2%;
	padding-right: 2%;
}

#mid-left img {
	width: 100%;
}


#mid-right {
	width: calc((100% - 250px)/2);
	position: absolute;
	right: 0;
	top:120px;
	background-color: rgb(255,229,153);
	padding-left: 2%;
	padding-right: 2%;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

#mid-right table tr td {
	background-color: rgb(255,229,153);
}

#mid-right button {
	margin-bottom: 5%;
}

#dish-summary td:nth-child(1){
	width:82%;
}

.price-text {
	color: red;
}

.dish-list .price-text {
	color: red;
	text-align: right;
}




/**
*
*
*	DINNER OVERVIEW
*
*/

#overview-content {
	flex: 1;
	display: flex;
	align-items: stretch;
	flex-direction: column;
}

#overview-headline {
	background-color: rgb(255,229,153);
	padding-left: 5%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
}

#overview-headline h2, #overview-headline button {
	display: inline;
	margin-left: 15px;
}

#overview-headline button {
	position: absolute;
	right: 30px;
	border-radius: 2em 0 0 2em;
}

#overview {
	flex: 1;
	padding-top: 20px;
}

#overview .container  {
	display: flex;
  	flex-wrap: wrap;
  	align-items: flex-end;
}

#selected-menu {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#print-recipe {
	width: 100vw;
	text-align: center;
	font-size: 23px;
}

#print-recipe-button {
	padding-left: 23px;
	padding-right: 23px;
}

.dish-header {
	text-align: center;

}

.dish-list {
	width: 142px;
	padding: 0;
	margin-right: 20px;
}

.last-dish {
	width: 162px;
	border-right: 1px solid black;
	padding-right: 20px;
}


/**
*
*
*	DINNER PREPARATION
*
*/

#preparation-content {
	display: block;
}

#preparation-content td{
	padding-left: 30px;
	padding-top: 30px;
	vertical-align: top;
}

#preparation-content td img{
	margin-top: 20px;
}

#preparation-content td:nth-child(2){
	width: 40%;
}

#preparation-content td:nth-child(3){
	max-width: 40%;
	padding-right: 30px;
}
