
<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace
this with Total price of the menu -->



<div id="left">
	<div id="left-headline">
		<h2>My Dinner</h2>
		<form>
            People: <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/>
		</form>
	</div>
	<div id="dinner-table">
        <table>
            <tr id="table-header">
                <th class="number-column"></th>
                <th class="dish-column">Dish Name</th>
                <th class="cost-column">Cost</th>
            </tr>
			<tr ng-repeat="dish in selectedDishes" class="selectedDishRow">
				<td class="number-column">
					{{ dish.RecipeID }}
				</td>
				<td class="dish-column">
					{{ dish.Title }}
				</td>
				<td class="cost-column">
					{{ dish.Price * numberOfGuests }}
				</td>
			</tr>
            <tr id="pendingRow">
                <td class="number-column"></td>
                <td class="dish-column">Pending</td>
                <td class="cost-column">0.00</td>
            </tr>
        </table>
		<hr>
		<p id="totalPrice">SEK <span> {{ getTotalMenuPrice() }} </span></p>
		<button id="confirm-dinner-button">Confirm Dinner</button>
	</div>
</div>
