<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/header.html'"></ng-include>

<div id="selectDishView">
    <ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

    <div id="dish-mid" ng-controller="DishCtrl">
    	<div id="mid-left">
    		<h2 id="dish-headline">{{ activeDish.Title }}</h2>
    		<img ng-src="{{ activeDish.HeroPhotoUrl }}">
    		<p id="dish-description">
    			Lorem ipsum dolor sit amet, pri eu insolens corrumpit. Mea an quem saperet consequat, at sit soleat postulant iracundia, quo putent efficiendi eu. Summo ridens epicuri ad mea, ei clita utroque propriae ius, mei ei animal nostrum. Te altera tritani repudiare est.
    		</p>
    		<a href="#/search" class="btn btn-primary">back to Select Dish</a>
    		<h2>Preparation</h2>
    		<p id="dish-instructions">
                {{ activeDish.Description }}
            </p>
    	</div>

    	<div id="mid-right">
    		<h3>Ingredients for 4 people</h3>
    		<hr>
    		<table id="ingredient-list">
                <tr ng-repeat="ingredient in activeDish.Ingredients">
                    <td>
                        {{ ingredient.Quantity * 4 | number:2 }} {{ " " + ingredient.Unit }}
                    </td>
                    <td>
                        {{ ingredient.Name }}
                    </td>
                    <td>
                        SEK
                    </td>
                    <td>
                        {{ ingredient.Quantity * 4 | number:2 }}
                    </td>
                </tr>
    		</table>
    		<hr>
    		<table id="dish-summary" ng-controller="DinnerCtrl as dinnerCtrl">
    			<tr>
    				<td><a href="#/search" class="btn btn-primary" ng-click="dinnerCtrl.addDishToMenu(activeDish)">Confirm Dish</a></td>
    				<td><p>SEK</p></td>
    				<td><p id="price-dish"> {{ dishPrice * 4 | number:2 }}</p></td>
    			</tr>
    		</table>
    	</div>
    </div>
</div>

<!-- TODO in Lab 5: Display the dish information including image, Description,
Instructions, Ingredients and total cost. -->
