<ng-include src="'partials/header.html'"></ng-include>


<div id="overview-content" ng-controller="DinnerCtrl">
	<div id="overview-headline">
		<h2>My Dinner: {{ numberOfGuests }} people</h2>
		<a href="#/search" class="btn btn-primary">Go back and edit dinner</a>
	</div>

	<div id="overview">

		<div id="selected-menu" class="container">
            <div class="col-sm-3 dish-list" ng-repeat="dish in selectedDishes">
                <div class="dish-header">
                    <img ng-src="{{ dish.HeroPhotoUrl }}"/>
                    <p>
                        {{ dish.Title }}
                    </p>
                </div>
                <p class="price-text">
                    {{ dish.Price * numberOfGuests }} SEK
                </p>
            </div>
            <div id="total-price">
                <p>Total:</p>
                <p class="price-text"> {{ totalPrice | number:2 }} SEK</p>
            </div>
		</div>
		<hr>
		<div id="print-recipe">
			<a href="#/preparation" class="btn btn-primary" id="print-recipe-button">Print Full Recipe</a>
		</div>
	</div>
</div>
